- if notice
  %b-alert(dismissible show fade variant="success")= notice

- if alert
  %b-alert(dismissible show fade variant="danger")= alert

- if flash[:error].present?
  - flash[:error].each do |message|
    %b-alert(dismissible show fade variant="danger")= message
