- if notice
  %p#notice.alert.alert-success(role='alert')= notice

- if alert
  %p#alert.alert.alert-danger(role='alert')= alert

- if flash[:error].present?
  - flash[:error].each do |message|
    %p#alert.alert.alert-danger(role='alert')= message
