/ Navigation
%nav.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  %div(class="collapse navbar-collapse")
    %div(class="navbar-brand ml-5")
      %h1= @site_name
    %ul(class="navbar-nav ml-auto pr-3")
      %li(class="nav-item")
        %login_form
